<!DOCTYPE html>

<html>

<head>
    <title>About us</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weather.png">
</head>

<body>
    <div class="main-content">

    {{>header}}
    <p>The following site was created as a bootcamp project for testing purposes only</p>
    <img class="portrait" src="/img/me.png">
    </div>
    {{>footer}}
</body>

</html>